@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300:500:600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:  #FEFAE0;
}
input{
    padding: 10px 30px;
    margin: 20px 0 10px 10px;
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid #FAEDCD;   
    outline: none;
    width: 300px;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
button{
    padding: 12px 20px;
    margin-left:-60px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    background-color: #FEFAE0;
}

header>h2{
   margin: 10px 0; 
}
.card{
    background-color:#FAEDCD;
    width: 210px;
    max-width: 300px;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
 
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows:auto ;
}
select{
    font-family: 'Poppins', sans-serif;
    padding: 10px 30px;
    font-size: 15px;
    margin-left: 40px;
    border-radius: 15px;
    border: 2px solid #FAEDCD;   
    outline: none;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}
.main-content{
    margin: 20px;
}
img{
    width: 79%;
}
.content>h2{
    margin: 10px 0;
}
.content>p{
    font-weight: 600;
    margin: 8px 0;
}
span{
    font-weight: 300;
}
#detailContainer{
display: flex;
}
#detailContainer>img{
    400px
}
@media (max-width:400px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:800px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:400px){
    .container{
        grid-template-columns:  1fr;
    }
}